<h1>About</h1>

<h2>About Bogota</h2>
<p>
    Bogota, the vibrant capital city of Colombia, is a true gem with its unique blend of old-world charm and modern sophistication.
    Despite its bustling streets and towering skyscrapers, Bogota still manages to maintain its natural beauty and cultural heritage.
    The city boasts a stunning landscape, nestled among the towering Andes Mountains, with sweeping views that stretch as far as the eye can see. 
    The city's numerous parks and gardens, including the famous Simon Bolivar Park, offer a peaceful escape from the hustle and bustle of daily life, 
    where visitors can soak up the lush greenery and admire the colorful flowers. Bogota's architectural landmarks, such as the impressive 
    Teatro Colon and the historic La Candelaria neighborhood, are also a sight to behold, showcasing the city's rich history and cultural diversity. 
    All in all, Bogota is a city of striking beauty that captivates visitors with its unique blend of natural, cultural, and architectural wonders.</p>

@*<partial name="_ListPartialView" /> There is another way to invoke the partial view that will be shown next*@

@{
    await Html.RenderPartialAsync("_ListPartialView");
}