<h1>Home</h1>

<partial name="_ListPartialView"></partial> @*This tag helper is necesary to add the partial view /A tag helper is a tag that internally is taken as a c# class*@

<div class="box">
    <partial name="_ListPartialView"></partial>
</div>