<div class="list-container">
    <h3>Cities</h3>
    <ul class="list">
        <li>London</li>
        <li>Bogota</li>
        <li>Medellin</li>
        <li>Bucaramanga</li>
        <li>Putumayo</li>
        <li>Barranquilla</li>
    </ul>
</div>