@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //It will execute this route, it is possible to assign LAyout = null if there is not shared layout
    ViewData["Title"] = "Home";

}
@*Whatever written in here will be replaced in the Layout view in the @renderBody element*@
<h1>Home</h1>
<p>Welcome to home page</p>
